{% load static %}
<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}RPL Django{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mahasiswa/css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Lab M.6.13</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2026 - Praktikum</p>
    </footer>
    <script src="{% static 'mahasiswa/js/main.js' %}"></script>
  </body>
</html>
